/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
}

label,
input,
textarea,
button {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust the width here */
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 15px; /* Add some space after each paragraph */
    color: #333; /* Text color */
}

a {
    display: block; /* Change display to block-level */
    padding: 10px 15px; /* Adjust padding as needed */
    border: 1px solid #007bff; /* Add border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    color: #007bff;
    text-decoration: none;
    text-align: center; /* Center the link text */
    margin-bottom: 10px; /* Add separation between links */
}

a:hover {
    background-color: #007bff; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

/* Additional style to make the button square */
a:active {
    border-color: #0056b3; /* Change border color on active state */
}

.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}