<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Change Your Email Preferences</h1>
    <p>Please enter your New Topics:</p>
    <form action="/update_info" method="post">
        <textarea name="text" placeholder="Make sure to separate topics by a comma" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Return to Home Page</a>
</div>
    

    
</body>
</html>