<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Text</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Change Your Email Preferences</h1>
        <form action="{{ url_for('update_info') }}" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="text">Enter New Topics:</label>
            <textarea id="text" name="text" placeholder="Make sure to separate topics by a comma"></textarea>
            <button type="submit">Submit</button>
        <a href="/">Return to Home Page</a>
    </div>
</body>
</html>