<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Update</title>
</head>
<body>
    <h1>News Update</h1>

    {% for keyword, keyword_articles in articles.items() %}
        <h2>Keyword: {{ keyword }}</h2>
        <ul>
            {% for article in keyword_articles %}
                <li>
                    <p><strong>Title:</strong> <span style="font-weight: bold;">{{ article.title }}</span></p>
                    <p><strong>Description:</strong> {{ article.description }}</p>
                    <p><strong>Source:</strong> {{ article.source }}</p>
                    <p><strong>Link:</strong> <a href="{{ article.link }}">{{ article.link }}</a></p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>If you no longer wish to receive emails from us, you can <a href="{{ unsubscribe_link }}">unsubscribe</a>.</p>
    <p>To return to our homepage, click <a href="{{ homepage_link }}">here</a>.</p>
</body>
</html>