<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Content</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="color: #007bff;">Thank you for subscribing to AnyNews!</h1>
    <p style="color: black;"> Your submission has been received. Here are the topics you entered:</p>
    <p style="color: #007bff;">{{ text }}</p>
    <p style="color: black;">If you no longer wish to receive emails from us, you can <a href="{{ unsubscribe_link }}">unsubscribe</a>.</p>
    <p style="color: black;">To return to our homepage, click <a href="{{ homepage_link }}">here</a>.</p>
</body>
</html>