<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Any News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Any News Logo">
        <h3>Get ANY news updates you want, everyday, ALL the time.</h3>
        <h2 style='color: #007bff;'>New and Returning Users: Enter your email to get started</h2>
        
        <!-- Display flashed messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('submit') }}" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="text">Topics:</label>
            <textarea id="text" name="text" placeholder="Make sure to separate topics by a comma"></textarea>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>