<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h1>Unsubscribe from Emails</h1>
    <p>Please enter your email address to unsubscribe:</p>
    <form action="/unsubscribe" method="post">
        {% if token %}
        <input type="hidden" name="token" value="{{ token }}">
        {% endif %}
        <input type="email" name="email" placeholder="Your Email" required>
        <button type="submit">Unsubscribe</button>
    </form>
    <a href="/">Return to Home Page</a>
    </div>
</body>
</html>